.logo{
  animation: reactLogo 3s infinite alternate; 
}
@keyframes reactLogo {
  0% {
    transform: rotate(10deg);
  } 
  100% {
    transform: rotate(360deg); 
  }
}

.arrow-icon {
    animation: slideRight 1s infinite alternate; 
  }
  
@keyframes slideRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(10px); 
    }
  }

  .arrow-iconLeft {
    animation: slideRight 1s infinite alternate; 
  }
  
@keyframes slideRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-5px); 
    }
  }
  
 

  .animate-gradient {
    animation: changeColor 4s linear infinite;
  }

  @keyframes changeColor {
    0% {
      color: #01d9ff;
    }
    25% {
      color: #04b1cf;
    }
    50% {
      color: #006274;
    }
    75% {
      color: #04b1cf;
    }
    100% {
      color: #01d9ff;
    }
  }
  
  