@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 243, 243);
} 
  

body.dark-mode {
    background-color: #000000b9; 
    color: #fff; 
    
} 